<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="index::linkrel"/>
    <link rel="stylesheet" href="/static/css/home.css" />
</head>
<body>
<div th:replace="index::content"></div>
<div class="row">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="post">
                    <div class="user-info">
                        <img th:src="@{${post.getAppUser().getProfile().imagePath}}"  alt="User Profile Picture">
                        <h5 th:text="${post.getAppUser().getProfile().firstName + ' ' + post.getAppUser().getProfile().lastName}"></h5>
                        <a th:if="${post.getAppUser().getUsername().equals(#authorization.getAuthentication().getName())}" style="margin-left: 65%" th:href="@{/profile/posts/edit/{id}(id=${post.id})}"><button class="btn btn-warning">Edit</button></a>
                        <form th:if="${post.getAppUser().getUsername().equals(#authorization.getAuthentication().getName())}" method="post" th:action="@{/profile/posts/delete/{id}(id=${post.id})}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <p th:text="${post.description}">
                    </p>
                    <!-- Add more post content here (images, videos, etc.) -->
                    <hr>
                    <div th:if="${post.job != null}" style="margin-bottom: 8px" class="job-details mt-4 p-4 border rounded-lg">
                        <h5 class="mb-4 text-uppercase text-primary">Job Details</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-3"><strong>Title:</strong> <span th:text="${post.job.title}"></span></p>
                                <p class="mb-3"><strong>Location:</strong> <span th:text="${post.job.location}"></span></p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-3"><strong>Created:</strong> <span th:text="${post.job.dateCreated}"></span></p>
                                <p class="mb-3"><strong>Expiration:</strong> <span th:text="${post.job.expirationDate}"></span></p>
                            </div>
                        </div>
                        <!-- Add more job details if needed -->
                        <div class="text-center mt-4">
                            <a href="#" class="btn btn-primary rounded-pill px-4 py-2 explore-button">View Details</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                                <div class="mb-2" style="margin-left: 15px">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <label th:text="${post.getNumberOfLikes() + ' Likes'}"></label>
                                        </div>
                                        <div>
                                            <label th:text="${post.getNumberOfComments() + ' Comments'}"></label>
                                        </div>
                                        <div style="margin-right: 10px">
                                            <label th:text="${post.getNumberOfShares() + ' Shares'}"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Like/Unlike button on the left -->
                            <form method="post" th:action="@{/like/{postId}(postId=${post.id})}">
                                    <div class="col-auto">
                                        <button th:if="${userLikes.get(post.id) == false}" type="submit" class="btn btn-light btn-action mr-2"><i class="far fa-thumbs-up"></i> Like</button>
                                        <button th:if="${userLikes.get(post.id) == true}" type="submit" class="btn btn-light btn-action mr-2"><i class="far fa-thumbs-up"></i> Unlike</button>
                                    </div>
                            </form>
                                    <!-- Comment button in the middle -->
                                    <div class="col-auto text-center">
                                        <a th:href="@{/posts/{id}/comment(id=${post.id})}"><button type="button" class="btn btn-light btn-action mr-2"><i class="far fa-comment"></i> Comment</button></a>
                                    </div>
                                    <!-- Share button on the right -->
                                    <form method="post" th:action="@{/share/{postId}(postId=${post.id})}">
                                    <div class="col-auto text-right">
                                        <button type="submit" class="btn btn-light btn-action"><i class="fas fa-share"></i> Share</button>
                                    </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- Comment Input -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <form method="post" th:action="@{/posts/{id}/comment(id=${post.id})}">
                            <div class="input-group">
                                <input type="text" name="description" class="form-control" placeholder="Add a comment" aria-label="Add a comment" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="comment-section mt-4">
                    <h5 class="mb-4">Comments</h5>
                    <div class="comment card mb-4" style="background-color: white" th:each="comment: ${post.comments}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="d-flex align-items-center">
                                    <img th:src="@{${comment.getAppUser().getProfile().imagePath}}" alt="User Profile Picture" class="rounded-circle mr-3">
                                    <div>
                                        <h6 class="mb-0" th:text="${comment.getAppUser().getProfile().firstName + ' ' + comment.getAppUser().getProfile().lastName}"></h6>
                                        <small class="text-muted" th:text="${'Posted on ' + comment.createdAt}"></small>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a th:if="${comment.getAppUser().getUsername().equals(#authorization.getAuthentication().getName())}" class="ml-3" th:href="@{/posts/{postId}/comment/{commentId}(postId=${post.id},commentId=${comment.id})}">
                                        <button style="width: 50px; height: 30px;font-size: 12px;font-weight: bold;text-align: center" class="btn btn-warning">Edit</button>
                                    </a>
                                    <form th:if="${comment.getAppUser().getUsername().equals(#authorization.getAuthentication().getName())}" method="post" th:action="@{/posts/delete/{postId}/{commentId}(postId=${post.id},commentId=${comment.id})}" class="ml-2">
                                        <button style="width: 60px; height: 30px;font-size: 12px;font-weight: bold;text-align: center" type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                            <p class="card-text mb-0" th:text="${comment.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




<th:block th:replace="index::scripts"></th:block>
</body>
</html>