<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Profile</title>

    <link th:replace="index::linkrel"/>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
</head>

<body>
<div th:replace="index::content"></div>
<div class="container emp-profile">
    <form method="post" th:object="${editProfile}" th:action="@{/profile/edit}" enctype="multipart/form-data">
        <input type="hidden" th:field="${editProfile.id}"/>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img th:src="@{${editProfile.imagePath}}" width="60" height="60" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input class="form-control" name="file" type="file" id="formFile">
                    </div>
                </div>
                <div style="margin-left: 45%">
                    <a th:href="@{/profile/edit/{username}/delete/picture(username=${#authentication.name})}" class="btn btn-danger">X</a>
                </div>

            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">First and Last name</span>
                        </div>
                        <input type="text" class="form-control" th:field="${editProfile.firstName}">
                        <input type="text" class="form-control" th:field="${editProfile.lastName}">
                    </div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-top: 10px" th:field="${editProfile.description}"></textarea>

                    <p class="proile-rating"><span></span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>GITHUB LINK</p>
                    <input type="text" class="form-control" id="exampleFormControlInput1" th:field="${editProfile.githubLink}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Education</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="exampleFormControlInput3" th:field="${editProfile.education}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="exampleFormControlInput4" th:field="${editProfile.experience}" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="exampleFormControlInput5" th:field="${editProfile.profession}" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="exampleFormControlInput6" th:field="${editProfile.phone}" style="margin-top: 5px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience Level</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="exampleFormControlInput7" th:field="${editProfile.experienceLevel}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" id="exampleFormControlInput8" th:field="${editProfile.hourlyRate}" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" id="exampleFormControlInput9" th:field="${editProfile.totalProjects}" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="exampleFormControlInput10" th:field="${editProfile.englishLevel}" style="margin-top: 5px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                Edit Profile
            </button>
        </div>
    </form>
</div>
<th:block th:replace="index::scripts"></th:block>
</body>

<!--<script type="application/javascript" src="assets/js/jquery-scrolltofixed-min.js"></script>
<script src="assets/js/script.js"></script>-->


</html>