<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="index::linkrel"/>
    <link rel="stylesheet" href="/static/css/home.css" />
</head>
<body>
    <div th:replace="index::content"></div>
    <div class="row">
        <div class="col-md-3" style="margin-top: 1.8%;margin-left: 1%;">
            <!-- Profile Credentials Box -->
            <div class="profile-box rounded bg-gradient shadow-lg">
                <div class="user-info d-flex align-items-center p-4">
                    <img src="https://via.placeholder.com/100" alt="User Profile Picture" class="rounded-circle mr-3" style="width: 80px; height: 80px;">
                    <div>
                        <h6 class="mb-1 font-weight-bold text-light" th:text="${user.profile.firstName + ' ' + user.profile.lastName}"></h6>
                        <p class="text-light mb-1" th:if="${user.roleAccount == false}">Employer</p>
                        <p class="text-light mb-1" th:if="${user.roleAccount == true}">Jobseeker</p>
                        <!-- Add other profile details here -->
                    </div>
                </div>
                <hr class="bg-light m-0">
                <!-- Additional content for the profile box -->
                <div class="user-stats p-4">
                    <div class="row">
                        <div class="col-4 text-center">
                            <h6 class="font-weight-bold text-light">Posts</h6>
                            <p class="text-light" th:text="${user.getPosts().size()}"></p>
                        </div>
                        <div class="col-4 text-center">
                            <h6 class="font-weight-bold text-light">Followers</h6>
                            <p class="text-light">0</p>
                        </div>
                        <div class="col-4 text-center">
                            <h6 class="font-weight-bold text-light">Following</h6>
                            <p class="text-light">0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container mt-4">
        <div class="col-md-12 d-flex justify-content-start">
            <a th:href="@{/posts/create}"><button class="btn btn-info" style="margin-left: 165%">Create Post</button></a>
        </div>
        <div class="row" th:each="post: ${posts}">
            <div class="col-md-8 offset-md-2">
                <div class="post">
                    <div class="user-info">
                        <img src="https://via.placeholder.com/40" alt="User Profile Picture">
                        <h5 th:text="${post.getAppUser().getProfile().firstName + ' ' + post.getAppUser().getProfile().lastName}"></h5>
                        <a th:if="${post.getAppUser().getUsername().equals(#authorization.getAuthentication().getName())}" style="margin-left: 65%" th:href="@{/profile/posts/edit/{id}(id=${post.id})}"><button class="btn btn-warning">Edit</button></a>
                        <form th:if="${post.getAppUser().getUsername().equals(#authorization.getAuthentication().getName())}" method="post" th:action="@{/profile/posts/delete/{id}(id=${post.id})}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <p th:text="${post.description}">
                    </p>
                    <!-- Add more post content here (images, videos, etc.) -->
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" th:action="@{/like/{postId}(postId=${post.id})}">
                                <div class="mb-2" style="margin-left: 15px">
                                    <label th:text="${post.getNumberOfLikes() + ' Likes'}"></label>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Like/Unlike button on the left -->
                                    <div class="col-auto">
                                        <button th:if="${userLikes.get(post.id) == false}" type="submit" class="btn btn-light btn-action mr-2"><i class="far fa-thumbs-up"></i> Like</button>
                                        <button th:if="${userLikes.get(post.id) == true}" type="submit" class="btn btn-light btn-action mr-2"><i class="far fa-thumbs-up"></i> Unlike</button>
                                    </div>
                                    <!-- Comment button in the middle -->
                                    <div class="col-auto text-center">
                                        <button type="button" class="btn btn-light btn-action mr-2"><i class="far fa-comment"></i> Comment</button>
                                    </div>
                                    <!-- Share button on the right -->
                                    <div class="col-auto text-right">
                                        <button type="button" class="btn btn-light btn-action"><i class="fas fa-share"></i> Share</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <form method="get" th:action="@{/}" th:if="${posts.totalElements != 0}">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="pagination">
                        <li th:each="pageNumber: ${#numbers.sequence(0, posts.totalPages - 1)}">
                            <input type="submit" class="page-link" name="page" th:value="${pageNumber + 1}" style="height: 40px; width: 40px">
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    </div>
    <th:block th:replace="index::scripts"></th:block>
</body>
</html>