<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="index::linkrel"/>
    <link rel="stylesheet" href="/static/css/home.css" />
</head>
<body>
    <div th:replace="index::content"></div>
    <div class="container mt-4">
        <div class="col-md-12 d-flex justify-content-start">
            <a th:href="@{/posts/create}"><button class="btn btn-info" style="margin-left: 165%">Create Post</button></a>
        </div>
        <div class="row" th:each="post: ${posts}">
            <div class="col-md-8 offset-md-2">
                <div class="post">
                    <div class="user-info">
                        <img src="https://via.placeholder.com/40" alt="User Profile Picture">
                        <h5 th:text="${post.getAppUser().getProfile().firstName + ' ' + post.getAppUser().getProfile().lastName}"></h5>
                        <a th:if="${post.getAppUser().getUsername().equals(#authorization.getAuthentication().getName())}" style="margin-left: 65%" th:href="@{/profile/posts/edit/{id}(id=${post.id})}"><button class="btn btn-warning">Edit</button></a>
                    </div>
                    <p th:text="${post.description}">
                    </p>
                    <!-- Add more post content here (images, videos, etc.) -->
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-light btn-action"><i class="far fa-thumbs-up"></i> Like</button>
                            <button type="button" class="btn btn-light btn-action"><i class="far fa-comment"></i> Comment</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-light btn-action"><i class="fas fa-share"></i> Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="get" th:action="@{/}">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="pagination">
                        <li th:each="pageNumber: ${#numbers.sequence(0, posts.totalPages - 1)}">
                            <input type="submit" class="page-link" name="page" th:value="${pageNumber + 1}" style="height: 40px; width: 40px">
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <th:block th:replace="index::scripts"></th:block>
</body>
</html>