<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
    <link th:replace="index::linkrel"/>
    <link rel="stylesheet" href="/static/css/jobs.css"/>
</head>
<body>
    <div th:replace="index::content"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-header">
                <h2>Job Listings</h2>
                <a th:href="@{/jobs/create}" class="btn btn-primary">Create New Job</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Location</th>
                            <th>Created Date</th>
                            <th>Expiration Date</th>
                            <th>Applications</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="job: ${jobs}">
                            <td th:text="${job.title}"></td>
                            <td th:text="${job.location}"></td>
                            <td th:text="${job.dateCreated}"></td>
                            <td th:text="${job.expirationDate}"></td>
                            <td th:text="${job.getApplications().size()}"></td>
                            <td class="btn-actions">
                                <a th:href="@{/job/{jobId}/applicants(jobId=${job.id})}" class="btn btn-outline-primary btn-sm">Show Applicants</a>
                                <a th:href="@{/jobs/edit/{id}(id=${job.id})}" class="btn btn-outline-info btn-sm">Edit</a>
                                <form method="post" th:action="@{/jobs/delete/{id}(id=${job.id})}" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <form method="get" th:action="@{/jobs}">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="pagination" th:if="${jobs != null && jobs.totalPages > 0}">
                                <li th:each="pageNumber: ${#numbers.sequence(0, jobs.totalPages - 1)}">
                                    <input type="submit" class="page-link btn btn-link" name="page" th:value="${pageNumber + 1}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:replace="index::scripts"></th:block>
</body>
</html>