<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Profile</title>
    <link th:replace="index::linkrel"/>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
</head>

<body>
<div th:replace="index::content"></div>
<div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img th:src="@{${otherProfile.imagePath}}" alt="Profile Image"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 th:text="${otherProfile.firstName + ' ' + otherProfile.lastName}">
                    </h5>
                    <h6 th:text="${otherProfile.description}">
                    </h6>
                    <p class="proile-rating"><span></span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a th:if="${(otherProfile.getAppuser().getUsername() != #authentication.name) && otherProfile.isFollowedByLoggedInUser()}" th:href="@{/profile/{id}/follow(id=${otherProfile.id})}" class="profile-edit-btn">Unfollow</a>
                <a th:if="${(otherProfile.getAppuser().getUsername() != #authentication.name) && !otherProfile.isFollowedByLoggedInUser()}" th:href="@{/profile/{id}/follow(id=${otherProfile.id})}">Follow</a>
                <a th:if="${otherProfile.getAppuser().getUsername() == #authentication.name}" th:href="@{/profile/edit/{username}(username=${#authentication.name})}"><button type="button" class="profile-edit-btn" name="btnAddMore">Edit Profile</button></a>
                <a th:if="${otherProfile.getAppuser().getUsername() == #authentication.name}" th:href="@{/profile/settings/{username}(username=${#authentication.name})}"><button type="button" class="profile-edit-btn" style="margin-top: 10px;" name="btnAddMore">Settings</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Media</p>
                    <a th:href="@{${otherProfile.githubLink}}"><img src="/static/images/github.png" alt="Github" width="60" height="40"/></a><br>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                    <label>Education</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${otherProfile.education}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${otherProfile.experience}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${otherProfile.profession}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${otherProfile.phone}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience Level</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${otherProfile.experienceLevel}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${otherProfile.hourlyRate + '$/hr'}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${otherProfile.totalProjects}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${otherProfile.englishLevel}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<th:block th:replace="index::scripts"></th:block>
</body>
</html>