<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link th:replace="index::linkrel"/>
    <style>
        .user-table img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        .user-table .btn-profile {
            padding: 6px 12px;
            font-size: 14px;
        }
        .user-table th {
            font-weight: bold;
            font-size: 16px;
            background-color: #f8f9fa;
            border: none;
        }
        .user-table tbody tr:hover {
            background-color: #f4f4f4;
        }
        .user-table tbody tr td {
            border: none;
        }
        .user-table thead th,
        .user-table tbody tr td {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body>
    <div th:replace="index_withoutsearch::content"></div>
    <div class="container mt-4">
        <form method="get" class="form-inline my-2 my-lg-0" th:action="@{/search}">
            <input class="form-control mr-sm-2" th:value="${searchButton}" name="searchButton" type="search" placeholder="Search" aria-label="Search" style="width: 90%;">
            <div class="input-group">
                <select class="form-select" name="searchKeyword" id="selectOptions" aria-label="Default select example" style="padding: 5px;margin: 0px 10px 0px 5px">
                    <option selected th:value="${searchKeyword}">Select an option</option>
                    <option value="Profile">Profile</option>
                    <option value="Job">Job</option>

                </select>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button><br>
        <table class="table table-bordered user-table" th:if="${searchKeyword != null && searchKeyword == 'Profile'}" style="margin-top: 25px">
            <thead>
            <tr>
                <th>Image</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>View</th>
                <th>Follow</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="profile : ${searchedProfiles}">
                <td><img src="https://via.placeholder.com/150" alt="User Image"></td>
                <td th:text="${profile.firstName}"></td>
                <td th:text="${profile.lastName}"></td>
                <td>
                    <a th:href="@{/profile/view/{username}(username=${profile.getAppuser().getUsername()})}" class="btn btn-primary">View Profile</a>
                </td>
                <td>
                    <a th:if="${profile.isFollowedByLoggedInUser()}" th:href="@{/profile/{id}/follow(id=${profile.id})}">Unfollow</a>
                    <a th:unless="${profile.isFollowedByLoggedInUser()}" th:href="@{/profile/{id}/follow(id=${profile.id})}">Follow</a>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered user-table" style="margin-top: 20px" th:if="${searchKeyword != null && searchKeyword == 'Job'}">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Created Date</th>
                    <th>Expiration Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job : ${searchedJobs}">
                    <td th:text="${job.title}"></td>
                    <td th:text="${job.location}"></td>
                    <td th:text="${job.dateCreated}"></td>
                    <td th:text="${job.expirationDate}"></td>
                    <td>
                        <a class="btn btn-primary" style="color: white">View Job</a>
                    </td>
                </tr>
                </tbody>
        </table>
            <div th:if="${searchKeyword != null && searchKeyword == 'Profile'}">
                <ul class="pagination" th:if="${searchedProfiles != null && searchedProfiles.totalPages > 0}">
                    <li th:each="pageNumber: ${#numbers.sequence(0, searchedProfiles.totalPages - 1)}">
                        <input type="submit" class="page-link" name="page" th:value="${pageNumber + 1}">
                    </li>
                </ul>
            </div>
            <div th:if="${searchKeyword != null && searchKeyword == 'Job'}">
                <ul class="pagination" th:if="${searchedJobs != null && searchedJobs.totalPages > 0}">
                    <li th:each="pageNumber: ${#numbers.sequence(0, searchedJobs.totalPages - 1)}">
                        <input type="submit" class="page-link" name="page" th:value="${pageNumber + 1}">
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <th:block th:replace="index::scripts"></th:block>

</body>
</html>